* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Home*/

html, body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, il{
    list-style-type: none;
}

header img {
    width: 80px;
    height: auto;
}

footer img {
    width: 100px;
    height: auto;
}

header, footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #05092b;
    color: #fff;
    padding: 16px;
}

.buscador input{
    padding: 8px 12px;
    width: 600px;
    border: 3px solid rgb(20, 5, 43);
    border-radius:6px;
}

.buscador button{
    padding: 7px 8px;
    border: 3px solid rgb(20, 5, 43);
    border-radius: 6px;
    background-color: transparent;
}

.fa-magnifying-glass{
    font-size: 16px;
    color: #fff;
}

.user-nav{
    display: flex;
    gap: 17px;
}

.section-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.productos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 15px 3px 0 3px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.productos img {
  max-width: 100%;
  height: 220px;
  object-fit: cover;
}

.descripcion-corta {
  flex-grow: 1;
  text-align: center;
}

.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.info, .compra {
    background-color: rgb(20, 5, 43);
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    color: #fff;
    width: 100px;
    text-align: center;
    display: inline-block;
}

.section-comments{
    padding: 40px;
    margin: auto;
}

.comment {
    border-left: 4px solid #05092b;
    background-color: #fafafa;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

.contenedorPersona {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #000;
  margin-bottom: 10px;
}

.contenedorPersona img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Home*/

@media(max-width: 1120px) {
    header{
        flex-direction: column;
        align-items: center;
    }

    .user-nav{
        flex-direction: column;
        gap: 5px;
    }

    .buscador input{
        width: 300px;
    }

    .descripcion-img{
        width: 300px;
        height: auto;
    }

    .titulo-carrito {
    font-size: 20px;
    }
}

/*Contacto*/

.todo-formulario {
    max-width: 700px; 
    margin: 65px auto; 
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

.titular, .formulario-titulo, .formulario-subtitulo{
    text-align: center;
    margin-bottom: 15px;
}

.titular{
    background-color: #05092b;
    border-radius: 10px;
    color: #ffe;
}

.formulario-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.formulario-inputs input,
.formulario-inputs textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.boton-enviar{
    background-color: #05092b;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
/*Contacto*/

/*Descripcion*/

.descripcion-titulo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 51px;
    text-align: center;
    padding: 10px;
    margin: 40px;
    border: 4px solid #05092b;
    border-radius: 60px;
}

.descripcion-texto{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    text-wrap: balance;
}

.descripcion-img{
    display: block;
    margin: 0 auto;
}

/*Descripcion*/

/*Register*/

.form-container{
    width: 90%;
    max-width: 700px;
    margin: 90px auto;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    height: auto;
}

.box-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: auto;
    margin: 25px 0;
    border-start-start-radius: 30px;
    font-size: 30px;
}

.box-register input{
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}

.boton-enviar-register{
    background-color: #05092b;
    color: #fff;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    width: 20%;
    cursor: pointer;
}

.titulo-register{
    text-align: center;
    font-size: 50px;
    color: #fff;
    background-color: #05092b;
    border-radius: 10px;
    padding: 30px;
}

/*Register*/

/*Carrito*/

.container-carrito{
    border: 2px solid #000;
    border-radius: 15px;
    margin: 60px;
    padding: 30px;
}

.titulo-carrito {
    text-align: center;
    font-size: 40px;
    margin: 10px auto;
    padding: 4px;
    border-left: 2px solid #05092b;
    border-right: 2px solid #05092b;
    border-radius: 22px;
    background-color: #fafafa;
    max-width: 600px;
}

.producto-carrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    gap: 10px;
}

.producto-carrito img {
    border-radius: 5px;
}

.eliminar {
    background-color: #FFE7E7;
    color: #D33A2C;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.carrito-total{
    text-align: center;
    padding: 20px;
}

#vaciar {
    display: block;
    margin: 20px auto;
    background-color: #05092b;
    color: white;
    border-radius: 60px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

/*Carrito*/

/*Login*/

.box-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: auto;
    margin: 25px 0;
    border-start-start-radius: 30px;
    font-size: 30px;
}

.box-login input{
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}

.boton-enviar-login{
    background-color: #05092b;
    color: #fff;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    width: 20%;
    cursor: pointer;
}

.titulo-login{
    text-align: center;
    font-size: 50px;
    color: #fff;
    background-color: #05092b;
    border-radius: 10px;
    padding: 30px;
}

/*Login*/